In [1]:
print("hello world!")

hello world!

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# GET DATA

In [3]:
req = requests.get('https://www.cartolafcbrasil.com.br/scouts/cartola-fc-2020/rodada-1')

if req.status_code == 200:
    print("ok!")
    content = req.content

ok!

In [4]:
soup = BeautifulSoup(content, 'html.parser')
table = soup.find(name='table')

In [6]:
table_str = str(table)
df = pd.read_html(table_str)[0]
print(df)

                       Nome    Clube  Preço      J  Média  Últ. Pont.  \
0               Elton (ATA)      NaN   1421      1   1560        1560
1             Saravia (LAT)      NaN   1319      1   1220        1220
2             Marinho (ATA)      NaN   1210      1   1170        1170
3        Igor Rabello (ZAG)      NaN   1341      1   1050        1050
4       Léo Cittadini (MEI)      NaN   1290      1    980         980
5         Diego Souza (ATA)      NaN   1276      1    960         960
6       Jonatan Gomez (MEI)      NaN   1196      1    950         950
7              Cléber (ATA)      NaN    797      1    900         900
8              Alison (MEI)      NaN   1073      1    880         880
9       Pedro Geromel (ZAG)      NaN   1109      1    830         830
10          Vanderlei (GOL)      NaN    957      1    820         820
11             Moisés (LAT)      NaN    949      1    810         810
12    Guilherme Arana (LAT)      NaN   1797      1    780         780
13            Aderlan (LAT)      NaN    899      1    740         740
14     Abner Vinícius (LAT)      NaN    739      1    720         720
15             Rafael (GOL)      NaN   1174      1    720         720
16    Thiago Galhardo (MEI)      NaN   1007      1    690         690
17    Fernando Sobral (MEI)      NaN    710      1    680         680
18     Paolo Guerrero (ATA)      NaN   1413      1    650         650
19       Bruno Cortez (LAT)      NaN    906      1    650         650
20     Dorival Júnior (TEC)      NaN    965      1    631         631
21  Matheus Galdezani (MEI)      NaN    790      1    590         590
22              Artur (ATA)      NaN   1363      1    580         580
23        Diego Alves (GOL)      NaN   1421      1    560         560
24             Patric (LAT)      NaN    746      1    530         530
25       Willian Arão (MEI)      NaN   1102      1    520         520
26           Khellven (LAT)      NaN    580      1    500         500
27      Renato Gaúcho (TEC)      NaN   1229      1    495         495
28          Kannemann (ZAG)      NaN   1145      1    480         480
29    Everton Ribeiro (MEI)      NaN    689      1    450         450
30    Daniel Paulista (TEC)      NaN    465      1    442         442
31      Víctor Cuesta (ZAG)      NaN   1044      1    440         440
32         Arrascaeta (MEI)      NaN   2124      1    430         430
33             Sander (LAT)      NaN    819      1    430         430
34             Gerson (MEI)      NaN   1109      1    430         430
35               Dodi (MEI)      NaN    674      1    430         430
36     Eduardo Coudet (TEC)      NaN   1032      1    425         425
37               Pará (LAT)      NaN    812      1    420         420
38      Marcelo Lomba (GOL)      NaN   1522      1    400         400
39     Patrick Vieira (LAT)      NaN    500      1    390         390
40          Evanilson (ATA)      NaN    710      1    380         380
41               Nenê (MEI)      NaN    906      1    350         350
42              Nikão (MEI)      NaN   1486      1    350         350
43    Lucas Veríssimo (ZAG)      NaN   1116      1    340         340
44     Felipe Jonatan (LAT)      NaN    754      1    340         340
45   Mateus Gonçalves (ATA)      NaN    536      1    340         340
46       Rafael Sobis (ATA)      NaN    826      1    340         340
47            Betinho (MEI)      NaN    457      1    330         330
48             Nathan (MEI)      NaN    739      1    320         320
49          Romarinho (ATA)      NaN    522      1    320         320
50                    12345  12345.0  12345  12345  12345       12345

    Variação       DS        G        A  ...       GC       CV       CA  \
0       1021      NaN      2.0      NaN  ...      NaN      NaN      1.0
1        719      8.0      NaN      NaN  ...      NaN      NaN      1.0
2        710      1.0      1.0      NaN  ...      NaN      NaN      NaN
3        541      5.0      NaN      NaN  ...      NaN      NaN      NaN
4        490      NaN      1.0      NaN  ...      NaN      NaN      NaN
5        476      NaN      1.0      NaN  ...      NaN      NaN      NaN
6        496      NaN      1.0      NaN  ...      NaN      NaN      NaN
7        597      1.0      1.0      NaN  ...      NaN      NaN      NaN
8        473      3.0      NaN      1.0  ...      NaN      NaN      NaN
9        409      5.0      NaN      NaN  ...      NaN      NaN      NaN
10       457      NaN      NaN      NaN  ...      NaN      NaN      NaN
11       449      4.0      NaN      NaN  ...      NaN      NaN      NaN
12        97      4.0      NaN      NaN  ...      NaN      NaN      NaN
13       399      9.0      NaN      NaN  ...      NaN      NaN      NaN
14       439      3.0      NaN      NaN  ...      NaN      NaN      NaN
15       274      NaN      NaN      NaN  ...      NaN      NaN      NaN
16       307      2.0      NaN      1.0  ...      NaN      NaN      NaN
17       410      3.0      NaN      1.0  ...      NaN      NaN      1.0
18       113      NaN      1.0      NaN  ...      NaN      NaN      NaN
19       306      5.0      NaN      NaN  ...      NaN      NaN      1.0
20       265      NaN      NaN      NaN  ...      NaN      NaN      NaN
21       290      3.0      NaN      NaN  ...      NaN      NaN      NaN
22        63      3.0      NaN      NaN  ...      NaN      NaN      NaN
23        21      NaN      NaN      NaN  ...      NaN      NaN      NaN
24       246      1.0      NaN      1.0  ...      NaN      NaN      NaN
25       102      5.0      NaN      NaN  ...      NaN      NaN      NaN
26       280      NaN      NaN      NaN  ...      NaN      NaN      NaN
27        29      NaN      NaN      NaN  ...      NaN      NaN      NaN
28        45      1.0      NaN      NaN  ...      NaN      NaN      NaN
29       189      3.0      NaN      NaN  ...      NaN      NaN      NaN
30       265      NaN      NaN      NaN  ...      NaN      NaN      NaN
31        44      3.0      NaN      NaN  ...      NaN      NaN      1.0
32      -376      2.0      NaN      NaN  ...      NaN      NaN      NaN
33       119      4.0      NaN      NaN  ...      NaN      NaN      NaN
34         9      3.0      NaN      NaN  ...      NaN      NaN      NaN
35       174      4.0      NaN      NaN  ...      NaN      NaN      NaN
36        32      NaN      NaN      NaN  ...      NaN      NaN      NaN
37       112      3.0      NaN      NaN  ...      NaN      NaN      NaN
38      -178      NaN      NaN      NaN  ...      NaN      NaN      NaN
39       200      3.0      NaN      NaN  ...      NaN      NaN      NaN
40       110      1.0      NaN      NaN  ...      NaN      NaN      NaN
41         6      1.0      NaN      NaN  ...      NaN      NaN      NaN
42      -214      NaN      NaN      NaN  ...      NaN      NaN      NaN
43       -84      4.0      NaN      NaN  ...      NaN      NaN      NaN
44        54      4.0      NaN      NaN  ...      NaN      NaN      NaN
45       136      2.0      NaN      NaN  ...      NaN      NaN      NaN
46        26      1.0      NaN      NaN  ...      NaN      NaN      NaN
47       157      5.0      NaN      NaN  ...      NaN      NaN      NaN
48        39      5.0      NaN      NaN  ...      NaN      NaN      NaN
49       122      1.0      NaN      NaN  ...      NaN      NaN      NaN
50     12345  12345.0  12345.0  12345.0  ...  12345.0  12345.0  12345.0

         PP       GS       FC        I       PS       PC       PI
0       NaN      NaN      1.0      1.0      NaN      NaN      4.0
1       NaN      NaN      3.0      NaN      NaN      NaN      8.0
2       NaN      NaN      2.0      NaN      NaN      NaN      5.0
3       NaN      NaN      NaN      NaN      NaN      NaN      5.0
4       NaN      NaN      NaN      NaN      NaN      NaN      NaN
5       NaN      NaN      2.0      NaN      NaN      NaN     12.0
6       NaN      NaN      1.0      NaN      NaN      NaN      3.0
7       NaN      NaN      1.0      NaN      NaN      NaN      3.0
8       NaN      NaN      NaN      NaN      NaN      NaN      7.0
9       NaN      NaN      3.0      NaN      NaN      NaN     10.0
10      NaN      NaN      NaN      NaN      NaN      NaN      8.0
11      NaN      NaN      2.0      1.0      NaN      NaN     14.0
12      NaN      NaN      2.0      NaN      NaN      NaN     14.0
13      NaN      NaN      2.0      NaN      NaN      NaN      6.0
14      NaN      NaN      NaN      NaN      NaN      NaN      8.0
15      NaN      NaN      NaN      NaN      NaN      NaN     18.0
16      NaN      NaN      1.0      NaN      NaN      NaN      1.0
17      NaN      NaN      3.0      NaN      NaN      NaN     10.0
18      NaN      NaN      2.0      NaN      NaN      NaN      5.0
19      NaN      NaN      1.0      NaN      NaN      NaN     10.0
20      NaN      NaN      NaN      NaN      NaN      NaN      NaN
21      NaN      NaN      NaN      NaN      NaN      NaN      6.0
22      NaN      NaN      2.0      NaN      NaN      NaN      9.0
23      NaN      1.0      NaN      NaN      NaN      NaN      9.0
24      NaN      NaN      NaN      1.0      NaN      NaN     10.0
25      NaN      NaN      2.0      NaN      NaN      NaN      3.0
26      NaN      NaN      NaN      NaN      NaN      NaN      5.0
27      NaN      NaN      NaN      NaN      NaN      NaN      NaN
28      NaN      NaN      4.0      NaN      NaN      NaN      2.0
29      NaN      NaN      NaN      NaN      NaN      NaN      7.0
30      NaN      NaN      NaN      NaN      NaN      NaN      NaN
31      NaN      NaN      3.0      NaN      NaN      NaN      6.0
32      NaN      NaN      NaN      NaN      NaN      NaN     10.0
33      NaN      NaN      1.0      NaN      NaN      NaN      7.0
34      NaN      NaN      1.0      NaN      NaN      NaN      5.0
35      NaN      NaN      1.0      NaN      NaN      NaN      5.0
36      NaN      NaN      NaN      NaN      NaN      NaN      NaN
37      NaN      NaN      NaN      NaN      NaN      NaN      8.0
38      NaN      NaN      NaN      NaN      NaN      NaN     10.0
39      NaN      NaN      2.0      NaN      NaN      NaN     11.0
40      NaN      NaN      1.0      NaN      NaN      NaN      4.0
41      NaN      NaN      NaN      NaN      NaN      NaN     17.0
42      NaN      NaN      1.0      NaN      NaN      NaN      3.0
43      NaN      NaN      NaN      NaN      NaN      NaN      6.0
44      NaN      NaN      2.0      NaN      NaN      NaN     11.0
45      NaN      NaN      NaN      NaN      NaN      NaN      3.0
46      NaN      NaN      2.0      NaN      NaN      NaN      6.0
47      NaN      NaN      2.0      NaN      NaN      NaN      7.0
48      NaN      NaN      2.0      1.0      NaN      NaN      3.0
49      NaN      NaN      NaN      NaN      NaN      NaN      3.0
50  12345.0  12345.0  12345.0  12345.0  12345.0  12345.0  12345.0

[51 rows x 27 columns]

In [19]:
def scrape_stats(url, year_start, year_end, round_start, round_end):
    years = range(year_start, year_end + 1, 1)
    rounds  = range(round_start, round_end + 1, 1)
    
    final_df = pd.DataFrame()
    
    for year in years:
        for match in rounds:
            print("Extracting season {} round {} stats.".format(year, match))
            req_url = url.format(year, match)
            req = requests.get(req_url)
            soup = BeautifulSoup(req.content, 'html.parser')
            table = soup.find('table')
            df = pd.read_html(str(table))[0]
            df['Year'] = year
            df['Round'] = match
            
            final_df = final_df.append(df)
            
    return final_df

url = "https://www.cartolafcbrasil.com.br/scouts/cartola-fc-{}/rodada-{}"
df_2020 = scrape_stats(url, 2020,2020,1,38)
df_2021 =  scrape_stats(url, 2021,2021,1,20)

Extracting season 2020 round 1 stats.
Extracting season 2020 round 2 stats.
Extracting season 2020 round 3 stats.
Extracting season 2020 round 4 stats.
Extracting season 2020 round 5 stats.
Extracting season 2020 round 6 stats.
Extracting season 2020 round 7 stats.
Extracting season 2020 round 8 stats.
Extracting season 2020 round 9 stats.
Extracting season 2020 round 10 stats.
Extracting season 2020 round 11 stats.
Extracting season 2020 round 12 stats.
Extracting season 2020 round 13 stats.
Extracting season 2020 round 14 stats.
Extracting season 2020 round 15 stats.
Extracting season 2020 round 16 stats.
Extracting season 2020 round 17 stats.
Extracting season 2020 round 18 stats.
Extracting season 2020 round 19 stats.
Extracting season 2020 round 20 stats.
Extracting season 2020 round 21 stats.
Extracting season 2020 round 22 stats.
Extracting season 2020 round 23 stats.
Extracting season 2020 round 24 stats.
Extracting season 2020 round 25 stats.
Extracting season 2020 round 26 stats.
Extracting season 2020 round 27 stats.
Extracting season 2020 round 28 stats.
Extracting season 2020 round 29 stats.
Extracting season 2020 round 30 stats.
Extracting season 2020 round 31 stats.
Extracting season 2020 round 32 stats.
Extracting season 2020 round 33 stats.
Extracting season 2020 round 34 stats.
Extracting season 2020 round 35 stats.
Extracting season 2020 round 36 stats.
Extracting season 2020 round 37 stats.
Extracting season 2020 round 38 stats.
Extracting season 2021 round 1 stats.
Extracting season 2021 round 2 stats.
Extracting season 2021 round 3 stats.
Extracting season 2021 round 4 stats.
Extracting season 2021 round 5 stats.
Extracting season 2021 round 6 stats.
Extracting season 2021 round 7 stats.
Extracting season 2021 round 8 stats.
Extracting season 2021 round 9 stats.
Extracting season 2021 round 10 stats.
Extracting season 2021 round 11 stats.
Extracting season 2021 round 12 stats.
Extracting season 2021 round 13 stats.
Extracting season 2021 round 14 stats.
Extracting season 2021 round 15 stats.
Extracting season 2021 round 16 stats.
Extracting season 2021 round 17 stats.
Extracting season 2021 round 18 stats.
Extracting season 2021 round 19 stats.
Extracting season 2021 round 20 stats.

In [20]:
df_2020.head()

,Nome,Clube,Preço,J,Média,Últ. Pont.,Variação,DS,G,A,...,CA,PP,GS,FC,I,PS,PC,PI,Year,Round
0,Elton (ATA),NaN,1421,1,1560,1560,1021,NaN,2.0,NaN,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,4.0,2020,1
1,Saravia (LAT),NaN,1319,1,1220,1220,719,8.0,NaN,NaN,...,1.0,NaN,NaN,3.0,NaN,NaN,NaN,8.0,2020,1
2,Marinho (ATA),NaN,1210,1,1170,1170,710,1.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,2020,1
3,Igor Rabello (ZAG),NaN,1341,1,1050,1050,541,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2020,1
4,Léo Cittadini (MEI),NaN,1290,1,980,980,490,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,1

In [21]:
df_2021.head()

,Nome,Clube,Preço,J,Média,Últ. Pont.,Variação,DS,G,A,...,CA,PP,GS,FC,I,PS,PC,PI,Year,Round
0,Thaciano (MEI),NaN,1671,1,1800,1800,1071,2.0,2.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0,2021,1
1,Tiago Volpi (GOL),NaN,2054,1,1750,1750,854,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,1
2,Fernando Miguel (GOL),NaN,1671,1,1700,1700,971,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,1
3,Helinho (ATA),NaN,1392,1,1500,1500,892,3.0,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,6.0,2021,1
4,Lucas Evangelista (MEI),NaN,1434,1,1460,1460,834,2.0,1.0,1.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,2021,1

In [29]:
final_df = pd.DataFrame()
final_df = final_df.append(df_2020).append(df_2021)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2958 entries, 0 to 50
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nome        2958 non-null   object
 1   Clube       58 non-null     float64
 2   Preço       2958 non-null   int64
 3   J           2958 non-null   int64
 4   Média       2958 non-null   int64
 5   Últ. Pont.  2958 non-null   int64
 6   Variação    2958 non-null   int64
 7   DS          2376 non-null   float64
 8   G           1752 non-null   float64
 9   A           1500 non-null   float64
 10  SG          1082 non-null   float64
 11  FS          2418 non-null   float64
 12  FF          2084 non-null   float64
 13  FD          1935 non-null   float64
 14  FT          900 non-null    float64
 15  DE          195 non-null    float64
 16  DP          138 non-null    float64
 17  GC          93 non-null     float64
 18  CV          164 non-null    float64
 19  CA          1616 non-null   float64
 20  PP          241 non-null    float64
 21  GS          277 non-null    float64
 22  FC          2318 non-null   float64
 23  I           1312 non-null   float64
 24  PS          122 non-null    float64
 25  PC          108 non-null    float64
 26  PI          2477 non-null   float64
 27  Year        2958 non-null   int64
 28  Round       2958 non-null   int64
dtypes: float64(21), int64(7), object(1)
memory usage: 693.3+ KB

In [30]:
final_df.head()

,Nome,Clube,Preço,J,Média,Últ. Pont.,Variação,DS,G,A,...,CA,PP,GS,FC,I,PS,PC,PI,Year,Round
0,Elton (ATA),NaN,1421,1,1560,1560,1021,NaN,2.0,NaN,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,4.0,2020,1
1,Saravia (LAT),NaN,1319,1,1220,1220,719,8.0,NaN,NaN,...,1.0,NaN,NaN,3.0,NaN,NaN,NaN,8.0,2020,1
2,Marinho (ATA),NaN,1210,1,1170,1170,710,1.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,2020,1
3,Igor Rabello (ZAG),NaN,1341,1,1050,1050,541,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2020,1
4,Léo Cittadini (MEI),NaN,1290,1,980,980,490,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,1

In [36]:
final_df.to_csv("cartola.csv")

In [37]:
data = pd.read_csv('cartola.csv')
# Preview data.
display(data.head())

,Unnamed: 0,Nome,Clube,Preço,J,Média,Últ. Pont.,Variação,DS,G,...,CA,PP,GS,FC,I,PS,PC,PI,Year,Round
0,0,Elton (ATA),NaN,1421,1,1560,1560,1021,NaN,2.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,4.0,2020,1
1,1,Saravia (LAT),NaN,1319,1,1220,1220,719,8.0,NaN,...,1.0,NaN,NaN,3.0,NaN,NaN,NaN,8.0,2020,1
2,2,Marinho (ATA),NaN,1210,1,1170,1170,710,1.0,1.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,2020,1
3,3,Igor Rabello (ZAG),NaN,1341,1,1050,1050,541,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2020,1
4,4,Léo Cittadini (MEI),NaN,1290,1,980,980,490,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,1

In [64]:
print(data["Nome"].apply(lambda x : pd.Series(x.split('(')))[1].str.replace(")",""))

0       ATA
1       LAT
2       ATA
3       ZAG
4       MEI
        ...
2953    GOL
2954    GOL
2955    GOL
2956    ATA
2957     NaN
Name: 1, Length: 2958, dtype: object

/tmp/ipykernel_3863/2132995759.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  print(data["Nome"].apply(lambda x : pd.Series(x.split('(')))[1].str.replace(")"," "))